@use "src/shared/layout/colors";

/** Button Styles **/
button,
.button,
.button:visited {
  padding: 0.4rem 0.8rem;
  background-color: colors.$gray-xlight;
  border: solid colors.$gray 0.1rem;
  border-radius: 0.3rem;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  display: inline-block;
  transition-duration: 0.3s;

  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

button:hover,
.button:hover {
  background-color: colors.$gray-light;
  border-color: colors.$gray-dark;
  //   background-color: rgb(234, 234, 234);
  //   border-color: rgb(185, 185, 185);
}

button:active,
.button:active {
  background-color: rgb(195, 193, 193);
}

button:disabled,
.button:disabled {
  //   background-color: rgb(243, 243, 243);
  background-color: colors.$gray-xlight;
  //   border-color: rgb(228, 228, 228);
  border-color: colors.$gray-light;
  color: grey;
}

button:disabled:hover,
.button:disabled:hover {
  background-color: rgb(197, 156, 156);
  border-color: rgb(185, 69, 69);
  color: grey;
}

.button-selected,
.button-selected:visited {
  // background-color: rgb(141, 202, 127);
  // border-color: rgb(118, 175, 105);
  background-color: colors.$green;
  border-color: colors.$green-dark;
}

.button-selected:hover {
  //   background-color: rgb(153, 213, 139);
  //   border-color: rgb(87, 137, 76);
  background-color: colors.$green-light;
  border-color: colors.$green-dark;
}

.button-primary:visited,
.button-primary {
  // background-color: rgb(14, 113, 200);
  background-color: colors.$blue;
  border-color: colors.$blue-dark;
  // border-color: rgb(42, 130, 207);
  color: white;
}

.button-primary:disabled {
  background-color: rgb(71, 108, 141);
  border-color: rgb(240, 248, 255);
  color: rgb(201, 216, 222);
}

.button-primary:hover {
  // border-color: rgb(15, 69, 118);
  background-color: colors.$blue-dark;
  border-color: colors.$blue;
  //   background-color: rgb(25, 115, 194);
  //   border-color: rgb(240, 248, 255);
}

// .button-primary:disabled:hover {
//   background-color: rgb(139, 164, 185);
//   border-color: rgb(71, 108, 141);
//   color: rgb(71, 108, 141);
// }

.button-wide {
  width: 100%;
}

.button-with-icon {
  display: flex;
  gap: 0.7rem;
  justify-content: center;
  align-items: center;
}

.button-group {
  display: flex;
  gap: 0.5rem;
}
