// @use "src/shared/layout/colors";

$green-xlight: rgb(214, 252, 203);
$green-light: rgb(148, 226, 148);
$green: rgb(98, 186, 98);

/*use white font for enough contrast with blue/blue-dark*/
$blue-light: rgb(232, 242, 254);
$blue: rgb(31, 106, 171);
$blue-dark: rgb(14, 66, 111);

$red-light: rgb(253, 217, 217);
$red: rgb(248, 110, 110);

$yellow: rgb(255, 247, 136);
$yellow-light: rgb(255, 250, 216);

// $yellow-light: rgb(252, 249, 197);
// .yellow  rgb(255, 250, 216);
