/* General */
@use "src/shared/layout/colors";
@use "src/shared/layout/_buttons";

@font-face {
  font-family: "AtkinsonHyperlegible";
  src: local("AtkinsonHyperlegible-Regular"),
    url("../fonts/AtkinsonHyperlegible-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "AtkinsonHyperlegible";
  src: local("AtkinsonHyperlegible-Bold"),
    url("../fonts/AtkinsonHyperlegible-Bold.ttf") format("truetype");
  font-weight: bold;
}

* {
  font-family: "AtkinsonHyperlegible", Verdana, Geneva, Tahoma, sans-serif;
}

body {
  overflow-y: scroll;
}

.container {
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 850px;
}

:focus {
  outline-color: rgb(209, 7, 7);
}

:link {
  color: rgb(0, 101, 0);
}

:visited {
  color: rgb(1, 73, 1);
}

/* responsive 2 column layout class */
.layout-split {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

@media screen and (max-width: 650px) {
  .layout-split {
    display: flex;
    flex-direction: column;
  }
}

/** Forms **/

.form {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.7rem;
  align-items: baseline;
}

.form label {
  text-align: right;
}

.form-control-center {
  grid-column-start: span 2;
  text-align: center;
}

hr {
  background-color: colors.$gray-xlight;
  border: 0;
  height: 0.125rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
