.logo {
  max-height: 5rem;
}

main {
  margin-top: 1rem;
}

.skip-link {
  position: absolute;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.skip-link:focus {
  width: auto;
  height: auto;
}

.page-header nav {
  display: flex;
  justify-content: flex-end;
  gap: 0.4rem;
  align-items: center;
  height: 100%;
  padding: auto;
}

.page-header-title {
  text-decoration: none;
  color: #000;
}

.nav-link {
  padding: 0.3rem 0.5rem;
  border-radius: 0.3rem;
  color: black;
  background-color: white;
  border: rgb(248, 248, 248) solid 2px;

  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
}

.nav-link:hover {
  transition: border-color 0.2s ease;
  border-color: rgb(138, 138, 138);
}

.nav-link-active,
.nav-link-active:hover {
  color: rgb(0, 85, 23);
  background-color: rgba(63, 220, 20, 0.077);
  border: rgb(0, 85, 23) solid 2px;
}

.page-header {
  display: grid;
  grid-template-columns: 5rem auto auto;
  padding: 1rem 0;
  align-items: center;
  gap: 1rem;
  border-bottom: 2px rgb(239, 239, 239) solid;
}

.page-header-user {
  font-size: 0.9rem;
  color: rgb(106, 106, 106);
  padding-right: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.page-header-group {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100%;
  justify-content: space-around;
}

.page-footer {
  min-height: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  padding-bottom: 2rem;
  margin-top: 1rem;
}

.footer-links {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 0.3rem;
}

.page-footer .footer-ost-img {
  max-height: 8rem;
}

.page-footer .nav-icon img {
  height: 1rem;
}
