@use "src/shared/layout/breakpoints";
@use "src/shared/layout/colors";

#main {
  margin-top: 2rem;
  margin-bottom: 2rem;
  min-height: calc(100vh - 15rem);
}

.skip-link {
  position: absolute;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.skip-link:focus {
  width: auto;
  height: auto;
}

.page-header {
  border-bottom: 0.125rem colors.$gray-xlight solid;
  padding: 1rem 0;

  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "title user"
    "title navigation";
  gap: 0 1rem;
  align-items: center;

  .title {
    grid-area: title;
    display: flex;
    gap: 1rem;
    align-items: center;
    .page-header-title {
      text-decoration: none;
      color: #000;
    }
    .logo {
      max-height: 5rem;
      max-width: 5rem;
    }
  }

  nav {
    grid-area: navigation;
    display: flex;
    justify-content: flex-end;
    gap: 0.4rem;
    align-items: center;
    height: 100%;
    padding: auto;

    .nav-link {
      padding: 0.3rem 0.5rem;
      border-radius: 0.3rem;
      color: black;
      background-color: white;
      border: rgb(248, 248, 248) solid 2px;

      transition: background-color 0.3s ease;
      display: flex;
      align-items: center;
    }

    .nav-link:hover {
      transition: border-color 0.2s ease;
      border-color: rgb(138, 138, 138);
    }

    .nav-link-active,
    .nav-link-active:hover {
      color: rgb(0, 85, 23);
      background-color: rgba(63, 220, 20, 0.077);
      border: rgb(0, 85, 23) solid 2px;
    }
  }

  .user {
    grid-area: user;
    font-size: 0.9rem;
    color: rgb(106, 106, 106);
    display: flex;
    align-items: center;
    justify-self: end;
    gap: 0.3rem;
  }

  @media screen and (max-width: breakpoints.$tablet) {
    grid-template-columns: auto;
    grid-template-rows: auto 1fr auto;
    row-gap: 0.5rem;
    grid-template-areas:
      "user"
      "title"
      "navigation";
  }
}

.page-footer {
  min-height: 2rem;
  padding-bottom: 2rem;
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  grid-template-areas: "ost sponsor links";

  .ost {
    grid-area: ost;
    .img-ost {
      height: 5rem;
    }
  }

  .sponsor {
    grid-area: sponsor;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .links {
    grid-area: links;
    ul {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: 0.3rem;
    }
    li {
      text-align: right;
    }
  }

  .img-sponsor {
    max-height: 6rem;
    margin: 0 auto;
  }

  .nav-icon img {
    height: 1rem;
  }

  @media screen and (max-width: breakpoints.$tablet) {
    grid-template-columns: auto;
    grid-template-areas:
      "links"
      "ost"
      "sponsor";
    gap: 1.5rem;

    .ost {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;
      p {
        text-align: center;
      }
      .img-ost {
        max-height: 4rem;
      }
    }

    .links ul {
      align-items: center;
    }
  }
}
