/* CSS Reset */

html {
  box-sizing: border-box;
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  margin-bottom: 0.3em;
  padding: 0;
  font-weight: normal;
}

select:disabled {
  color: black;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

fieldset {
  display: inline;
  border: 0;
  padding: 0;
  margin: 0;
  min-width: 0;
}
