@use "src/shared/layout/colors";

.library-card {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-areas:
    "title ctrl"
    "score ctrl";
  border: 1px rgb(224, 224, 224) solid;
  gap: 0.5rem;
  margin: 0rem;
  padding: 0.7rem 0.9rem;
  border-radius: 0.5rem;
  align-items: center;

  .header {
    grid-area: title;
    display: flex;
    gap: 2rem;
    align-items: baseline;
  }

  .main {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    grid-area: score;
  }

  .main-scores {
    display: flex;
    gap: 0.5rem;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
  }

  .filter-scores {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    align-items: baseline;
  }

  .aside {
    grid-area: ctrl;
  }
}

.library-card-true {
  border: 0.2rem solid colors.$green-xlight;
}

.library-card-neutral {
  // background-color: rgb(252, 252, 252);
  border: 0.2rem solid colors.$yellow-light;
  .header {
    color: rgb(66, 66, 66);
  }
}

.library-card-false {
  // background-color: rgb(246, 246, 246);
  border: 0.2rem solid colors.$red-light;

  .header {
    color: rgb(102, 102, 102);
  }
}
