@use "src/shared/layout/colors";

.library-card {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-areas:
    "title ctrl"
    "score ctrl";
  // border: 1px rgb(224, 224, 224) solid;
  border: 0.125rem solid rgb(237, 237, 237);
  gap: 0.5rem;
  margin: 0rem;
  padding: 0.7rem 0.9rem;
  border-radius: 0.5rem;
  align-items: center;

  .header {
    grid-area: title;
    display: flex;
    gap: 2rem;
    align-items: baseline;
  }

  .main {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    grid-area: score;
  }

  .main-scores {
    display: flex;
    gap: 0.5rem;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
  }

  .filter-scores {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    align-items: baseline;
  }

  .aside {
    grid-area: ctrl;
  }
}

.library-card-true {
  border-color: colors.$green-light;
}

.library-card-neutral {
  border-color: colors.$yellow;
  .header {
    color: rgb(66, 66, 66);
  }
}

.library-card-false {
  border-color: colors.$red-light;

  .header {
    color: rgb(84, 84, 84);
  }
}
