.library-header {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.library-list {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    margin: 1rem 0;
}

.library-card {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas:
        "title ctrl"
        "score ctrl";
    border: 1px rgb(224, 224, 224) solid;
    gap: 0.5rem;
    margin: 0rem;
    padding: 0.7rem 0.9rem;
    border-radius: 0.5rem;
    align-items: center;
}

.library-card-header {
    grid-area: title;
    display: flex;
    gap: 2rem;
    align-items: baseline;
}

.library-card-main {
    grid-area: score;
    display: flex;
    gap: 0.5rem;
    justify-content: flex-start;
    align-items: center;
}

.library-card-aside {
    grid-area: ctrl;
}
