.library-header {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.library-list {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    margin-top: 1rem;
}

.library-add-library {
    background-color: rgb(252, 252, 252);
    border: solid 1px rgb(215, 215, 215);
    padding: 1rem;
    border-radius: 0.3rem;
}

.library-card {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas:
        "title ctrl"
        "score ctrl";
    border: 1px rgb(224, 224, 224) solid;
    gap: 0.5rem;
    margin: 0rem;
    padding: 0.7rem;
    border-radius: 0.5rem;
    align-items: center;
}

.library-card > title {
    grid-area: title;
}

.library-card-main {
    grid-area: score;
    display: flex;
    gap: 0.5rem;
    justify-content: flex-start;
    align-items: center;
}

.library-card-aside {
    grid-area: ctrl;
}
