#faq {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  //   display: grid;
  //   grid-template-columns: 1fr 1fr;

  .question {
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    gap: 1rem;
  }

  p {
    font-size: 1.2rem;
  }
  h4 {
    font-style: oblique;
  }
}
