@use "src/shared/layout/breakpoints";
@use "src/shared/layout/colors";

.home {
  .home-intro {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    gap: 2rem;
    font-size: 1.4rem;

    h2 {
      color: colors.$green-dark;
      font-size: 3rem;
    }
  }

  .home-cact {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;

    p {
      margin-bottom: 0;
    }

    .item {
      // display: grid;
      // grid-template-columns: 1fr;
      // grid-template-rows: auto 1fr;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;

      .highlight {
        font-size: 1.5rem;
        color: darkgreen;
        span {
          text-decoration: underline;
        }
      }

      .description {
        text-align: center;
        font-size: 1.3rem;
      }
    }

    @media screen and (max-width: breakpoints.$desktop) {
      .image {
        max-width: 7rem;
      }
    }

    @media screen and (max-width: 55rem) {
      display: flex;
      flex-direction: column;

      .item {
        flex-direction: row;
        justify-content: center;
      }
    }

    @media screen and (max-width: breakpoints.$tablet) {
      .image {
        max-width: 5rem;
      }
    }
  }

  .home-section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
      "title text"
      "title button";
    padding: 1rem;
    align-items: center;
    column-gap: 1.5rem;
    row-gap: 0;

    .button {
      grid-area: button;
      font-size: 1.2rem;
      justify-self: left;
    }

    .title {
      grid-area: title;
      font-size: 2rem;
      justify-self: right;
      h3 {
        text-align: right;
      }
    }

    .text {
      grid-area: text;
      font-size: 1.3rem;
    }

    @media screen and (max-width: breakpoints.$tablet) {
      grid-template-columns: 1fr;
      grid-template-areas:
        "title"
        "text"
        "button";

      .title {
        justify-self: center;
      }

      .button {
        justify-self: center;
      }
    }
  }
}
