.library-header {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.library-list {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin: 1rem 0;
}

#filters {
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
  display: flex;
  gap: 0.7rem;
  flex-direction: row;
  // flex-wrap: wrap;
  // align-items: ;
  .filter-group {
    display: flex;
    gap: 0.7rem;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.spacer-flex {
  flex-grow: 1;
}
.spacer {
  width: 0.5rem;
}
