.alert {
    border-radius: 0.4rem;
    padding: 0.7rem;
}

.alert-info {
    background-color: rgb(255, 250, 216);
    border: rgb(247, 241, 126) solid 1px;
}

.alert-help {
    background-color: rgb(237, 245, 255);
    border: rgb(171, 212, 249) solid 1px;
}
