.criterium-detail {
  display: grid;
  grid-template-columns: 1fr auto auto;
  align-items: baseline;
  gap: 1rem;
  width: 100%;
}

.criterium-result {
  background-color: rgb(238, 238, 238);
  padding: 0.4rem 0.7rem;
  border-radius: 1rem / 50%;
}
