@use "src/shared/layout/breakpoints";

.library-detail {
  .backnav > a {
    display: flex;
    align-items: center;
  }
  .backnav {
    margin-top: -0.5rem;
    margin-bottom: -0.5rem;
  }
  .header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    column-gap: 2rem;
    row-gap: 0.7rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    h2 {
      margin-bottom: 0;
    }
  }
}

.lib-detail-help {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.3rem;
}

.lib-infos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.7rem;
}

.lib-testresults {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  gap: 1rem;
}
