.lib-detail-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

@media print {
  .page-header {
    display: none;
  }
  .lib-info {
    display: none;
  }
}

.lib-detail-help {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.3rem;
}

.lib-infos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.7rem;
}

.lib-testresults {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  gap: 1rem;
}

.count-list {
  display: flex;
  gap: 0.9rem;
  align-items: baseline;
  flex-wrap: wrap;
}

.count-list-break {
  width: 100%;
}
