* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    margin: auto 1rem;
}

.page-header {
    display: grid;
    grid-template-columns: auto auto auto;
}

.page-header > nav {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
