/* CSS Reset */

html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* general */

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    margin: auto 1rem;
}

:focus {
    outline-color: red;
    /* outline: none;
    box-shadow: 0 0 0 3px rgba(255, 0, 0, 0.8); */
}

/* * {
    outline: 1px red solid;
} */

/** Utilities **/

button {
    background-color: rgb(224, 224, 224);
    border: solid rgb(239, 239, 239) 1px;
    text-align: center;
    border-radius: 0.3rem;
    padding: 0.4rem 0.8rem;
    font-size: 1rem;
    display: inline-block;
    transition-duration: 0.3s;
}
button:hover {
    background-color: rgb(234, 234, 234);
}

button:active {
}

button:disabled {
}

.button-wide {
    width: 100%;
}

.button-primary {
    background-color: rgb(14, 124, 221);
    border-color: rgb(240, 248, 255);
    color: white;
}

.button-primary:hover {
    background-color: rgb(14, 113, 200);
}

.alert-info {
    background-color: rgb(255, 250, 216);
    border: rgb(247, 241, 126) solid 1px;
    border-radius: 0.4rem;
    padding: 0.7rem;
}

/** Page Layout **/

.page-header {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 1rem 0;
}

.page-header > nav {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    align-items: center;
}

.login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.library-list {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    margin-top: 1rem;
}

.library-card {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas:
        "title ctrl"
        "score ctrl";
    border: 1px rgb(224, 224, 224) solid;
    gap: 0.5rem;
    margin: 0rem;
    padding: 0.7rem;
    border-radius: 0.5rem;
    align-items: center;
}

.library-card > title {
    grid-area: title;
}

.library-card > main {
    grid-area: score;
    display: flex;
    gap: 0.5rem;
    justify-content: flex-start;
    align-items: center;
}

.library-card > aside {
    grid-area: ctrl;
}

/** library-detail **/

.lib-detail > header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.lib-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.lib-controls,
.lib-infos {
    display: flex;
    flex-direction: column;
}

.lib-testresults {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    gap: 1rem;
}

.lib-testresult {
    background-color: whitesmoke;
    padding: 0.7rem;
    border-radius: 0.4rem;
}

.lib-testresult h2 {
    margin: 0;
}

.lib-testresult > header {
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding-bottom: 0.5rem;
}

/** Scorebubble **/

.score-bubble,
.score-score,
.count-bubble,
.count-count {
    padding: 0.4rem 0.7rem;
    border-radius: 0.9rem;
}

.score-bubble,
.count-bubble {
    display: flex;
    /* margin: 0.5rem; */
}

.score-score,
.count-count {
    margin: -0.4rem -0.7rem;
    margin-right: 0.4rem;
}

.score-bubble {
    background-color: rgb(148, 226, 148);
}

.score-score {
    background-color: rgb(98, 186, 98);
}

.count-bubble {
    background-color: rgb(251, 251, 251);
}

.count-count {
    background-color: rgb(244, 244, 242);
}

/** lab-start **/

.lab-start {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

/** component tests **/

.component-test {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.test-general {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.test-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.test-instructions {
    border: grey solid 1px;
    border-radius: 0.4rem;
    padding: 1rem;
    background-color: rgb(213, 244, 213);
}

.test-item {
    border: grey solid 1px;
    border-radius: 0.4rem;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 0.7rem;
}

.test-item-criteria {
    font-size: 1.2rem;
}

.test-item > .button-group {
    grid-column: span 2;
}

.test-item-help {
    background-color: yellow;
    margin: 0 -1rem;
    padding: 1rem;
    grid-column: span 2;
}

.test-item-comment {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

/**  **/
/**  **/
