/* CSS Reset */

html {
  box-sizing: border-box;
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  margin-bottom: 0.3em;
  padding: 0;
  font-weight: normal;
}

h1 {
  font-size: 2.1rem;
  margin-bottom: 0;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-weight: bold;
}

p {
  margin-bottom: 0.3rem;
}

input,
select {
  font-size: 1rem;
  padding: 0.2rem 0.3rem;
  border-radius: 0.2rem;
  border: 1px solid lightgray;
}

select:disabled {
  color: black;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

hr {
  background-color: rgb(250, 250, 250);
  border: 0;
  height: 0.1rem;
}
