.add-version-form {
  border: solid rgb(212, 212, 212) 1px;
  border-radius: 0.5rem;
  padding: 0.7rem;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.add-version-form-small-label {
  grid-column: 1 / span 2;
  text-align: left;
  font-size: 0.9rem;
}
