@use "src/shared/layout/colors";
@use "src/shared/layout/breakpoints";

.lib-testresult {
  border: 0.125rem solid colors.$gray-xlight;
  padding: 0.8rem;
  border-radius: 0.4rem;
  // display: flex;
  // flex-direction: column;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto auto;
  grid-template-areas:
    "img title alert"
    "img description alert"
    "scores scores scores";
  align-items: center;
  gap: 0.8rem 1rem;

  h2 {
    margin: 0;
  }
  img {
    height: 7rem;
    grid-area: img;
  }
  .title {
    grid-area: title;
  }

  .description {
    grid-area: description;
  }

  .more-testing-alert {
    grid-area: alert;
  }

  .main-scores {
    grid-area: scores;
  }

  .scores {
    display: flex;
    gap: 0.9rem;
    align-items: baseline;
    flex-wrap: wrap;
    h4 {
      margin-bottom: 0;
    }
    .scores-break {
      width: 100%;
    }
  }

  .expand-scores,
  .scores {
    grid-column: span 3;
  }

  @media screen and (max-width: breakpoints.$desktop) {
    grid-template-columns: auto 1fr;
    // grid-template-rows: auto auto;
    grid-template-areas:
      "img title title"
      "img description description"
      "img alert alert"
      "scores scores scores";
  }

  @media screen and (max-width: breakpoints.$phone) {
    grid-template-areas:
      "title title title"
      "img description description"
      "alert alert alert"
      "scores scores scores";

    img {
      width: 6rem;
    }
  }
  @media screen and (max-width: breakpoints.$sub-phone) {
    grid-template-areas:
      "title title title"
      "img img img"
      "description description description"
      "alert alert alert"
      "scores scores scores";
  }
}

.lib-testresult-disabled {
  border-color: colors.$red-light;
  grid-template-areas:
    "img title title"
    "img description description"
    "img alert alert";

  @media screen and (max-width: breakpoints.$desktop) {
    grid-template-columns: auto 1fr;
    // grid-template-rows: auto auto;
    grid-template-areas:
      "img title title"
      "img description description"
      "alert alert alert";
  }
  @media screen and (max-width: breakpoints.$phone) {
    grid-template-areas:
      "title title title"
      "img description description"
      "alert alert alert";
    img {
      width: 6rem;
    }
  }

  @media screen and (max-width: breakpoints.$sub-phone) {
    grid-template-areas:
      "title title title"
      "img img img"
      "description description description"
      "alert alert alert";
  }
}
