@use "src/shared/layout/colors";

.lib-testresult {
  border: 0.125rem solid rgb(237, 237, 237);
  padding: 0.7rem;
  border-radius: 0.4rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  h2 {
    margin: 0;
  }
  img {
    height: 7rem;
  }
}

.lib-testresult-disabled {
  border-color: colors.$red-light;
}

.lib-testresult > header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 1rem;
}
