.logo {
    max-height: 5rem;
}

.page-header > nav {
    display: flex;
    justify-content: flex-end;
    gap: 0.4rem;
    align-items: center;
}

.nav-link {
    padding: 0.3rem 0.5rem;
    border-radius: 0.2rem;
    color: black;
    background-color: white;
    transition: background-color 0.3s ease;
}

.nav-link:hover {
    transition: background-color 0.2s ease;
    background-color: rgb(225, 225, 240);
}

.nav-link-active,
.nav-link-active:hover {
    color: rgb(0, 85, 23);
    background-color: rgba(63, 220, 20, 0.077);
}

.page-header {
    display: grid;
    grid-template-columns: 5rem auto auto;
    padding: 1rem 0;
    align-items: center;
    gap: 1rem;
    border-bottom: 2px rgb(239, 239, 239) solid;
}
